<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS工作</title>
    <style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 20px;
			color: #99cc19; }

            .col-lg-4 {
	border: 1px solid; }

	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <a class="navbar-brand" href="#">MENU</a>
                    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#jobs">職務</a></li>
            <li class="nav-item"><a class="nav-link" href="#needs">工作內容</a></li>
            <li class="nav-item"><a class="nav-link" href="#content">條件要求</a></li>
        </ul>
        </div>
    </nav>

    <main class="container-fluid bg-tanger text-white text-center">
    
        <nav>
            <h1><a href="https://www.migocorp.com/">寬仕工業股份有限公司  </a></h1>
        </nav>

        <img src="/static/image/周立哲ucan.jpg" alt="照片">
        <br><br><br>

	
    <div class="row">

    <session id="jobs" class="col-lg-4">
        
        <header><h4>職務</h4></header>
        <h6>Internet程式設計師、軟體設計工程師MIS程式設計師</h6>

    </session>

    <article id="needs" class="col-lg-4">
        <header><h4>工作內容</h4></header>
            
            <h6><b>MIS程式設計、網路應用程式設計，熟 .NET，java系列語言。有Visual Foxpro或dBase。須能配合公司教育及加班。遠途可提供宿舍。</b></h6>
            
        
    </article>
    
    <aside id="content" class="col-lg-4">
        <header><h4>條件要求</h4></header>
            <h6>接受身份:上班族、應屆畢業生</h6>
            <h6>工作經歷:不拘</h6>
            <h6>學歷要求:大學</h6> 
            <h6>科系要求:不拘</h6> 
            <h6>語文條件:不拘</h6>
            <h6>擅長工具:
Excel、Outlook、PowerPoint、Word、中文打字20~50 </h6>
            
            
        </aside>
    </div><br><br>
  
<footer>  
    <p><h4>自傳</h4></p>
    我從小就喜歡跟大家和平相處，在團隊中我可以盡力配合大家的要求，我也希望團隊是和樂融融的，所以遇到爭執時，我會希望用理性的方式解決，我認為溝通是很重要的，保持理性一直是我努力的方向，能不發脾氣就不發脾氣，雖然我知道總悶在心裡很不健康，所以要找到正確的疏通管道。
</footer>
    
	
</body>
</html>